.projet-filtre {
    >.section-title {
        cursor: pointer;
        &.active {
            >.underlines {
                >.thin-underline {
                    width: 100%;
                }
            }
        }
        &:hover {
            >.underlines {
                >.thick-underline {
                    transform: unset;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .projet-filtre {
        >.section-title {
            font-size: 1.5rem;
            margin-bottom: var(--size-margin-10);
        }
    }
}