.home-contact {
    position: relative;
    margin: calc(2 * var(--size-main-margin)) 0;
    >.home-contact-background {
        height: 50vh;
        width: 100%;
        background: url('../../../../images/home/contact.jpg') no-repeat center top; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    >.home-contact-content {
        position: absolute;
        top: 20vh;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--color-white);
        text-align: center;
        min-height: 30vh;
        width: 63%;
        padding: var(--size-main-margin);
        overflow: hidden;
        >.home-contact-title {
            margin-bottom: var(--size-margin-20);
            font-size: 2rem;
            display: table;
            position: relative;
            text-transform: uppercase;
            cursor: default;
            >.underlines {
                margin-top: 5px;
                margin-bottom: var(--size-margin-10);
                >.thin-underline {
                    width: 0;
                    height: 1px;
                    background-color: var(--color-black);
                    transition: width 1s cubic-bezier(1,.07,1,.9);
                }
                >.thick-underline {
                    width: 0;
                    height: 8px;
                    background-color: var(--color-black);
                    transition: transform .2s cubic-bezier(1,.07,1,.9), width 1s cubic-bezier(1,.07,1,.9);
                }
            }
            &:hover {
                >.underlines {
                    >.thick-underline {
                        transform: translateX(40px);
                    }
                }
            }
        }
        >.home-contact-email {
            font-size: 2rem;
        }
    }
    &.active {
        >.home-contact-content {
            >.home-contact-title {
                >.underlines {
                    >.thin-underline {
                        width: calc(100% + 100vw);
                    }
                    >.thick-underline {
                        width: 70px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .home-contact {
        >.home-contact-background {
            height: 70vh;
        }
        >.home-contact-content {
            padding: var(--size-margin-40);
            padding-right: var(--size-margin-20);
            padding-left: var(--size-margin-20);
            width: 70%;
            >.home-contact-email {
                font-size: 1.5rem;
            }
        }
    }
}