.home-contact {
    position: relative;
    margin: calc(2 * var(--size-main-margin)) 0;
    >.home-contact-background {
        height: 50vh;
        width: 100%;
        background: url('../../../../images/home/contact.jpg') no-repeat center top; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    >.home-contact-content {
        position: absolute;
        top: 20vh;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--color-white);
        text-align: center;
        min-height: 30vh;
        width: 63%;
        padding: var(--size-main-margin);
        overflow: hidden;
        >.home-contact-email {
            font-size: 2rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .home-contact {
        >.home-contact-background {
            height: 70vh;
        }
        >.home-contact-content {
            padding: var(--size-margin-40);
            padding-right: var(--size-margin-20);
            padding-left: var(--size-margin-20);
            width: 70%;
            >.home-contact-email {
                font-size: 1.5rem;
            }
        }
    }
}