.navigation-sub-link {
    font-size: 1.5rem;
    display: table;
    position: relative;
    margin-left: var(--size-margin-40);
    margin-bottom: var(--size-margin-10);
}

@media screen and (max-width: 600px) {
    .navigation-sub-link {
        font-size: 1.3rem;
        margin-bottom: 5px;
    }
}