.name {
    color: var(--color-black);
    line-height: 70px;
    font-size: 70px;
    margin-left: 40px;
    transition: opacity 0.4s .4s cubic-bezier(1,.07,1,.9);
    opacity: 1;
    &.white {
        color: var(--color-white);
        transition-delay: .4s;
    }
    &.transparent{
        opacity: 0;
        transition-delay: 0s;
    }
}

@media screen and (max-width: 600px) {
    .name {
        line-height: 40px;
        font-size: 40px;
        margin-left: var(--size-margin-20);
        &.no-margin-left-mobile {
            margin-left: 0;
            text-align: left;
        }
    }
}