.home {
    position: relative;
    margin: var(--size-margin-20);
    >.header {
        position: absolute;
        top: var(--size-margin-40);
        left: var(--size-margin-40);
    }
    >.home-content {
        transform: translateX(0px);
        pointer-events: none;
        >.home-content-moving {
            position: relative;
            overflow: hidden;
            transition: left .4s .4s cubic-bezier(1,.07,1,.9);
            left: 0px;
            pointer-events: auto;
            >.header {
                position: fixed;
                top: var(--size-margin-40);
                left: var(--size-margin-40);
            }
            >.home-hero {
                border-radius: 10px;
                height: 150vh;
                width: 100%;
                background: url('../../../images/hero.jpg') no-repeat center top; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            >.home-tag-line {
                position: absolute;
                top: calc(var(--size-margin-40) + 70px + var(--size-main-margin));
                left: var(--size-margin-40);
                font-size: 2rem;
                color: var(--color-white);
            }
            &.nav-visible {
                left: 400px;
                transition-delay: 0s;
            }
            >.home-content-wrapper {
                margin: 0 var(--size-margin-40);
                >.home-notre-entreprise, >.home-nos-projets {
                    overflow: hidden;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .home {
        >.header {
            top: var(--size-margin-10);
            left: var(--size-margin-10);
        }
        >.home-content {
            >.home-content-moving {
                >.header {
                    top: var(--size-margin-10);
                    left: var(--size-margin-10);
                }
                >.home-tag-line {
                    top: calc(var(--size-margin-10) + 40px + var(--size-main-margin));
                    left: var(--size-margin-10);
                    font-size: 1.8rem;
                }
                >.home-content-wrapper {
                    margin: 0 var(--size-margin-10);
                }
            }
        }
    }
}