.nos-projets-page {
    .nos-projets-filtres {
        justify-content: center;
        flex-wrap: wrap;
        >* {
            margin: 0 var(--size-margin-20);
        }
    }
}

@media screen and (max-width: 600px) {
    .nos-projets-page {
        .nos-projets-filtres {
            >* {
                margin: 0 var(--size-margin-10);
            }
        }
    }
}