.nos-projets-page {
    .nos-projets-filtres {
        justify-content: center;
        flex-wrap: wrap;
        >* {
            margin: 0 var(--size-margin-20);
        }
    }
    .nos-projets-container {
        margin-bottom: var(--size-main-margin);
        flex-wrap: wrap;
        transition: opacity 1s;
        >* {
            margin-right: var(--size-margin-20);
        }
        >:nth-child(5n) {
            margin-right: 0;
        }
        &.is-invisible {
            opacity: 0;
        }
    }
}

@media screen and (max-width: 600px) {
    .nos-projets-page {
        .nos-projets-filtres {
            >* {
                margin: 0 var(--size-margin-10);
            }
        }
        .nos-projets-container {
            >* {
                margin-right: 0;
            }
        }
    }
}