@import './colors.scss';
@import './sizes.scss';
@import './fonts.scss';

.App {
    color: var(--color-black);
    a {
        text-decoration: none;
        color: var(--color-black);
    }
    
    .content-wrapper {
        margin: var(--size-main-margin) var(--size-main-margin) var(--size-margin-20);
    }

    .flex-row {
        display: flex;
        flex-direction: row;
    }
}
