@import './colors.scss';
@import './sizes.scss';
@import './fonts.scss';

.App {
    color: var(--color-black);
    a {
        text-decoration: none;
        color: var(--color-black);
    }

    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .flex-1 {
        flex: 1;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .highlighted-char {
        font-size: 2rem;
        font-weight: 900;
    }
}
